@import "src/styles/constants";

.launch {
  width: 100%;
  padding: 5px 5px 0 5px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 18px;

  .launch__item-info {
    position: relative;
    padding: 26px 15px 32px 15px;

    &__name {
      padding: 20px 0 16px 0;
      font-size: 24px;
      font-weight: 600;
    }

    &__rocket-name {
      padding-bottom: 8px;

      span {
        color: #686868;
      }
    }

    //дать имя класса
    &__launch-status {
      span {
        color: #686868;
      }
    }
  }
}
