.header {
  border: 1px solid #BDBDBD;
  border-top: 0;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.header-text {
  padding: 17px 20px 20px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}